body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container {
  color: #41b883;
  font-size: 60px;
  margin-bottom: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
  margin: 0;
}

